<header>
    <nav>
        <a href="/" style="text-decoration:none">Shoppers</a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/product">Products</a></li>
            <li><a href="/seller">Seller</a></li>
            <li><a href="/customer">Customers</a></li>
            <li><a href="/customer/new">Signup</a></li>
        </ul>
    </nav>
</header>