<div>
    <h2>New Seller</h2>

    <form action="/seller" method="post">
        <%-include("form_fields.ejs")%>
        <a href="/seller">Cancel</a>
        <button type="submit">Create Account</button>
    </form>
</div>