<div>

    <form action="/seller" method="post">
        <%-include('../seller/form_fields.ejs')%>
        <a href="/seller">Cancel</a>
        <button type="submit">Update</button>
    </form>
</div>