<div>
    Enter the Details:
    <form action="/product" method="post">
        <div>
            <%-include("form_fields")%>
        </div>
        <div>
            <a href="/product">Cancel</a>
            <button type="submit">Register</button>
        </div>
    </form>
</div>