<div>
    <label><h2>New User</h2></label>
    <form action="/customer" method="POST">
        <%-include("../customer/form_field.ejs")%>
        <a href="/authors">Cancel</a>
        <button type="submit">Create</button>
    </form>
</div>